/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap');

/* Main Containers */
:root {
  font-size: 62.5%;
  --guide: 0.01rem solid;
  font-family: 'Libre Franklin', sans-serif;
  --blue: hsl(223, 87%, 63%);
  --paleblue: hsl(223, 100%, 88%);
  --darkblue: hsl(209, 33%, 12%);
  --lightred: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
}

body {
  font-size: 1.6rem;
  min-width: 32rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sub-Containers I */
#wrapper {
  text-align: center;
  padding: 5rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Sub-Containers  II */
header {
  margin-bottom: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 13rem;
  transition: margin 0.5s ease-in-out;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  flex-direction: column;
}

/* Sub-Containers III */
#logo {
  width: clamp(6rem, 17vw, 7.5rem);
}

h1 {
  font-weight: 300;
  color: var(--gray);
  font-size: clamp(2.5rem, 6vw, 4rem);
}

#email-form {
  margin: auto;
}

#social-media {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 14rem;
}

#copyright {
  color: hsl(0, 0%, 73%);
  font-size: 1.2rem;
}

/* Sub-Containers IV */
#highlight {
  font-weight: 700;
  color: var(--darkblue);
}

#email-label {
  display: block;
  font-size: clamp(1.3rem, 3.5vw, 1.7rem);
  font-weight: 400;
  color: var(--darkblue);
  margin-bottom: 4rem;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.3rem;
  width: clamp(28rem, 75vw, 54rem);
}

.messages {
  font-style: italic;
  font-size: 1.2rem;
  margin: auto;
  padding-top: 0.8rem;
}

#dashboard {
  width: clamp(32rem, 84vw, 56rem);
  margin-top: 5rem;
}

.iconify {
  background-color: var(--blue);
  color: white;
  font-size: 3rem;
  border-radius: 50%;
}

/* Sub-Containers V and below */
#email {
  border: 0.01rem solid var(--paleblue);
}

button {
  background-color: var(--blue);
  color: white;
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  box-shadow: 0.4rem 0.6rem 0.7rem var(--paleblue);
}

.subscribe > * {
  border-radius: 5rem;
  height: 4.5rem;
}

.error {
  color: var(--lightred);
}

.submitted {
  color: var(--blue);
}

/* Pseudo-Elements & Etc. */
input::placeholder {
  color: var(--paleblue);
}

input[type='email'] {
  font-family: 'Libre Franklin', sans-serif;
  padding-left: 2.5rem;
}

button:hover {
  background-color: hsl(223, 100%, 75%);
  cursor: 'pointer', default;
  transition: background-color 0.5s ease-in;
}

.iconify:hover {
  background-color: white;
  color: var(--blue);
  transition: 0.5s ease-in;
}

.hide {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  /* Sub-Containers  II */
  main {
    margin-bottom: 7.7rem;
  }

  /* Sub-Containers IV */
  .subscribe {
    flex-direction: row;
  }

  .messages {
    text-align: left;
    padding-left: 2rem;
  }

  /* Sub-Containers V and below */
  #email {
    width: 68%;
  }

  button {
    width: 32%;
  }
}
