/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap");

/* Main Containers */
:root {
  font-size: 62.5%;
  --guide: 0.01rem solid;
  font-family: "Libre Franklin", sans-serif;
  --blue: hsl(223, 87%, 63%);
  --paleblue: hsl(223, 100%, 88%);
  --darkblue: hsl(209, 33%, 12%);
  --lightred: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
}

body {
  font-size: 1.6rem;
  min-width: 32rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sub-Containers I */
#wrapper {
  text-align: center;
  padding: 9rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Sub-Containers  II */
header {
  margin-bottom: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 13rem;
}

footer {
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  flex-direction: column;
}

/* Sub-Containers III */
#logo {
  width: clamp(6rem, 17vw, 7.5rem);
}

h1 {
  font-weight: 300;
  color: var(--gray);
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin-bottom: ;
}

#email-label {
  margin: auto;
}

#social-media {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 14rem;
}

#copyright {
  color: hsl(0, 0%, 73%);
  font-size: 1.2rem;
}

/* Sub-Containers IV */
#highlight {
  font-weight: 700;
  color: var(--darkblue);
}

#email-label span {
  display: block;
  font-size: clamp(1.3rem, 3.5vw, 1.7rem);
  font-weight: 400;
  color: var(--darkblue);
  margin-bottom: 4rem;
}

#email-form {
  display: flex;
  flex-direction: column;
  width: clamp(28rem, 75vw, 54rem);
  gap: 1.3rem;
}

#dashboard {
  width: clamp(32rem, 84vw, 56rem);
  margin-top: 5rem;
}

#social-media svg {
  fill: var(--blue);
  width: 3rem;
}

/* Sub-Containers V */
#email {
  border: 0.01rem solid var(--paleblue);
}

button {
  background-color: var(--blue);
  color: white;
  border: none;
  font-family: "Libre Franklin", sans-serif;
  box-shadow: .4rem .6rem .7rem var(--paleblue);
}

#email,
button {
  border-radius: 5rem;
  height: 4.5rem;
}

/* Pseudo-Elements */
input::placeholder {
  color: var(--paleblue);
}

input[type="email"]{
    font-family: "Libre Franklin", sans-serif;
    padding-left: 2.5rem;
}

button:hover{
    background-color:hsl(223, 100%, 75%);
    cursor:pointer;
}

#social-media svg:hover{
    background-color: var(--blue);
    fill:white;
    border-radius: 50%;

}

/* Media Queries */
@media screen and (min-width: 620px) {
  /* Main Containers */
  :root {
  }

  body {
  }

  /* Sub-Containers I */
  #wrapper {
    padding: 7rem 0 0 0;
  }

  /* Sub-Containers  II */
  main {
    margin-bottom: 6rem;
    gap: 1.7rem;
  }

  /* Sub-Containers III */
  #email-form {
    flex-direction: row;
  }

  /* Sub-Containers IV */
  #email {
    width: 68%;
  }

  button {
    width: 32%;
  }

  /* Sub-Containers V */

  /* Pseudo-Elements */
}
